/* HOME */
.home{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home h1{
    margin-top: 60px;
}
.form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 100px auto;
    padding: 30px;
    background-color: #f3f2f2;
    border-radius: 5px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;
}

.form-group label {
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    margin-top: 10px;
    padding: 8px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group textarea {
    height: 100px;
}

.submit-btn {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #272727;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

.submit-btn:hover {
    background-color: #3b3b3b;
}
/* EVENTS */
.events{
    display: flex;
    flex-direction: column;
}
.events h1{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: white;
    margin: 50px 0px;
}
.card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    background-color: #d8d6d6;
    padding: 20px 0px;
    margin: 40px 0px;
    width: 500px;
    height: 300px;
}
.card p{
    text-align: center;
    width: 80%;
}
.card h1{
    text-align: center;
    width: 80%;
    margin-top: 0;
}
.date-time{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    color: white;
    width: 100%;
}