@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');
*{
  margin: 0;
  padding: 0;
}
h1{
  font-family: "Sixtyfour Convergence";
}
body{
  background-color: #36454F;
}

nav ul{
  display: flex;
  flex-direction: row;
}
li a{
text-decoration: none;
color: white;
}